@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../public/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html, body {
    height: 100%;
}

::scrollbar {
    width: 8px;
}

::scrollbar-track {
    background: #555; 
}

::scrollbar-thumb {
    background: #B0B0B0; 
    border-radius: 5px;
}

* {
    scrollbar-width: thin;
}
